<header class="bg-sky-300 h-16 py-4 px-4 sm:px-6 md:px-10 flex items-center">
  <div class="flex items-center justify-start space-x-2">
    <%= image_tag "logo.jpeg", alt: "App Logo", class: "w-8 h-8" %>
    <span class="text-xl font-bold text-white"><%= link_to "マウントレイル", root_path %></span>
  </div>
</header>
