<div class="w-full px-4">
  <% if @boards.present? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <%= render @boards %>
    </div>
  <% else %>
    <div class="text-gray-500">掲示板がありません</div>
  <% end %>
</div>
